[2021-04-17 01:08] srid opened #1 "Why not wiki-links?"
Any reason for choosing `[:another-note]` over the more widely used `[[another-note]]` syntax? Maybe I'm missing the trade-offs behind this decision, but using wiki-links means your notebook works with a wide variety of editors and tools.

[2021-04-17 09:02] artempyanykh commented on #1
Hey @srid :wave: Nice to meet the author of neuron!

TBH `[:note]` vs `[[note]]` was chosen because of behaviour of the parser, e.g. `some text [[note]] other text` was parsed as `TextNode("some text [")` + `LinkNode(text="note")` + `TextNode("] other text")`, which is valid according to CommonMark, but complicated things a bit wrt. symbol highlighting, completion, etc.

At the moment I didn't wan

[2021-04-17 13:22] srid commented on #1
Ah, I see. I see that you are using `pulldown-cmark` which doesn't give an AST, but `comrak` does: https://crates.io/crates/comrak#related-projects

Anyway I was just curious, as I wanted to try this project's LSP support in VSCode on neuron notes :-)

[2021-04-17 13:22] #1 closed

[2021-04-17 15:03] artempyanykh commented on #1
@srid cool! Will see, maybe I'll find time soon to support both types of links.

[2021-08-06 09:42] VolkovIlia opened #2 "Neovim support"
Since 0.5 release neovim supports lsp. So, there is a project [lsp-config](https://github.com/neovim/nvim-lspconfig) where your lsp server is added as supported.

But when I try to integrate it in my workflow I always got errors. Authors of that plugin advice me to wright to you about issues. So my questions are:
1. May I open any issues about integration your lsp- server in nvim or your work is j

[2021-08-06 14:29] artempyanykh commented on #2
Hey @VolkovIlia ! Thanks for reporting the issue. I'm open to supporting neovim, just didn't have time to try set things up.
I'll look into it sometime soon and post an update when have something.

[2021-08-07 18:46] artempyanykh commented on #2
I had a look. So far I've found one problem specific to neovim that leads to zeta-note crash, but it should affect only debug builds (which is unlikely your case).

I also see that Neovim shows some stale diagnostics, which is something I'm yet to look into.

@VolkovIlia could you describe the problem you're facing in more detail?

[2021-08-07 19:07] artempyanykh commented on #2
So far, the problem with stale diagnostics looks like a bug in neovim (https://github.com/neovim/neovim/issues/15303) that is unless I misunderstood something about the LSP spec.

[2021-08-07 20:56] artempyanykh commented on #2
After reading the spec more, I think there might be something missing on zeta-note's side. I'll see to it sometime soon.

[2021-08-07 22:16] VolkovIlia commented on #2
https://github.com/neovim/nvim-lspconfig/issues/1121#issue-958304302

This is a bug report

[2021-08-11 21:29] artempyanykh commented on #2
I've fixed stale diagnostics in https://github.com/artempyanykh/zeta-note/commit/f640da2088c8acbbdbe72d7449fe15a231fa252d

As for the https://github.com/neovim/nvim-lspconfig/issues/1121#issue-958304302 I couldn't repro it. Furthermore the crash happens inside a zeta-note dependency and based on the loc from the stack trace I can't really see how this can happen.

Anyhow, I've updated all the deps

[2021-08-12 10:56] VolkovIlia commented on #2
Still have error. Download exec and built it by myself...

[code]

`LspInfo` shows:

[code]

Few seconds after it crashes and `LspInfo` shows only:
[code]

[2021-08-12 13:05] artempyanykh commented on #2
@VolkovIlia a couple things:
1. Could you try to run the executable directly outside of Vim? Any problems?
2. Could you use `scripts/zeta-note-dev.sh` as cmd for nvim instead of the binary? Does it give any additional output before it crashes?

[2021-08-12 16:21] VolkovIlia commented on #2
1. No problems instead it crashes after some input:
[code]
2. Log file is bellow. Just that signal in 0... Looking the same as binary.

[code]

[2021-08-13 19:41] artempyanykh commented on #2
@VolkovIlia while I'm scratching my head could you try to use the same binary with VSCode? This way we can see if the issue is specific to nvim or to your system configuration.

[2021-08-13 21:28] VolkovIlia commented on #2
Ok. I found a "bug"... I've created `.zeta.toml` in `$HOME` folder, thats why it crashes. Now `.zeta.toml` in a specific folder and crashes stopped but it still not working.
Log file:
[code]
LspInfo:
[code]

`vsCode` works fine with plugin from marketplace.

Mb I should to bind some button to popup window with [:test] pattern but I don't understand what I should to bind... It should work from the

[2021-08-13 21:33] VolkovIlia commented on #2
BTW [here](https://github.com/VolkovIlia/voidrice/tree/t440p/.config/nvim) is my `nvim` config

[2021-08-13 21:51] VolkovIlia commented on #2
I've tried again and now its working :sob: I don't understand what I fixed... Autocomplete works fine...

[2021-08-13 21:59] VolkovIlia commented on #2
Ok... LSP server now woks! Thanks for your helping and awesome server... I will try to wright PhD with it's help... Sorry for stupid questions...  Now it time to figure out what commands I should to bind to:
1. Open [:ref] in directly in tabs in neovim
2. Open it in popup
3. Shows popup when under the cursor in normal mode...

Thx again !)))

[2021-08-14 20:20] artempyanykh commented on #2
Cool! Happy it works now :)

Wow, this is awesome! :+1: I was thinking about adding support for bibtex files (e.g. completion, go-to, maybe references). @VolkovIlia let me know if this is something that can also be helpful to you.

[2021-08-16 12:03] VolkovIlia commented on #2
Bibtex-support is great idea, now I use [telescope-bibtex](https://github.com/nvim-telescope/telescope-bibtex.nvim) for pandoc.

[2021-08-16 12:03] #2 closed

[2021-08-16 12:08] VolkovIlia commented on #2
BTW [markdown-knowledge-map](https://obsidian.md/) integration is also a great idea for your LSP server)) IMHO))

[2021-08-16 17:52] VolkovIlia commented on #2
@artempyanykh, also I call your attention to [tree-sitter](https://github.com/tree-sitter/tree-sitter) and [tree-sitter/playground](https://github.com/nvim-treesitter/playground) for Zettelkasten link search. I'am not developer or coder, I can't help you with contributing but Zettelkasten integration to text-notes has huge potential, imho.

[2021-08-16 19:32] VolkovIlia commented on #2
@artempyanykh I’am falling down the rabbit hole 🤣  I’ve found another implementation for Zettalkasten [zk](https://github.com/mickael-menu/zk/issues/22), mb it can be also very useful))

[2021-08-21 09:25] artempyanykh commented on #2
Hehe, nothing's new under the sun :)

[2021-08-29 17:24] reverseila opened #3 "Add an installation guide"
Please add a guide to README.md on how to install, place binaries in the system or compile from source.

[2021-09-02 15:53] sigzegv opened #4 "Issue with subsection completion"
I'm trying your LSP server in **nvim 0.5**, and I must admit I really like it.
It globally work fine, but there is an issue about completion. I don't really know if it's a server issue or client issue. (but I don't have this issue with other lsp servers, so I'm wondering)

The issue is when I try to complete a subsection, the completion provide the correct list of possible choices, but when I sele

[2021-09-02 16:22] sigzegv commented on #4
Well it seem to be an issue with my autocomplete plugin while I'm able to drop the completion text in the file is I directly use omni completion shortcut <ctrl-x><ctrl-o>

[2021-09-02 16:22] #4 closed

[2021-09-04 18:23] artempyanykh commented on #4
Happy to hear you have pin pointed the issue @sigzegv ! Could you share what autocompletion plugin you use with nvim (and what causes an issue) in case someone encounters a similar problem?

[2021-09-05 08:12] sigzegv commented on #4
yes  had the issue with [hrsh7th/nvim-compe](https://github.com/hrsh7th/nvim-compe), but with [nvim-lua/completion-nvim](https://github.com/nvim-lua/completion-nvim) or [hrsh7th/nvim-cmp](https://github.com/hrsh7th/nvim-cmp) (this one is a rewrite of nvim-compe) all works fine.

[2021-09-11 11:16] #3 closed

[2021-09-11 11:17] artempyanykh commented on #3
Updated `README.md` with an installation instruction.

[2021-11-05 11:34] rbozan opened #5 "Update `lsp-types` to a newer version"
Thanks for the crate.

https://github.com/artempyanykh/zeta-note/blob/main/lsp-document/Cargo.toml#L12

I'd suggest updating the `lsp-types` to a newer version, also because `tower-lsp` uses a newer version, which makes it 'harder' to use this crate as this crate uses an older version.

https://github.com/ebkalderon/tower-lsp/blob/master/Cargo.toml#L23

[2021-11-05 14:26] artempyanykh commented on #5
Thanks for raising this @rbozan. I'll look into it.

[2021-11-06 13:24] artempyanykh commented on #5
@rbozan I've published versions of lsp-document built against lsp-types 0.89, 0.90, and 0.91. Hope it helps.

[2021-11-06 13:24] #5 closed

[2021-11-06 14:40] rbozan commented on #5
Thank you

[2021-12-07 15:46] oovm opened #8 "LSP position back to offset"
I have such a requirement, I need to know what AST node is currently selected by the mouse.

My AST uses offset to store range information.

Because binary search based on offset is easier to write.

The error reporting library [(ariadne)](https://github.com/zesterer/ariadne) I use is also offset based.

So I want an method like the following:

[code]

[2021-12-07 17:56] artempyanykh commented on #8
There's a private function that converts `Pos` to byte offset: https://github.com/artempyanykh/zeta-note/blob/main/lsp-document/src/lib.rs#L390-L394

I guess it's OK to expose it as a part of `TextMap` API.

[2022-01-17 11:48] kimusan opened #9 "link completion gives LSP error"
I have tried getting this to work and I think I am almost succeeded. Unfortunately when I try to auto complete a link to another file, then I get the following error:

![image](https://user-images.githubusercontent.com/1150049/149764373-3ab38862-4b2c-491d-9e69-555fbc087bb8.png)

After this point nothing works.  I use the linux binary from the latest release and use it from within neovim.

The actu

[2022-01-17 12:02] kimusan commented on #9
ok looks like this might be related to this one : https://github.com/hrsh7th/nvim-cmp/issues/726

[2022-01-20 10:17] artempyanykh opened #10 "Support *unofficial* `offsetEncoding` client capability"
Brought up in #9
Description in clangd: https://clangd.llvm.org/extensions.html#utf-8-offsets

[2022-01-20 10:18] artempyanykh commented on #9
Thanks for reporting @kimusan! Yeah, UTF-8 offsets are not part of the official LSP spec; so this looks like a bug in neovim.
As Rust's strings are UTF-8 I like the idea of using it instead of calculating UTF-16 offsets; although I'd need to understand the current state of support better before trying to hack it into zeta-note.
Rebranding as a feature request #10

[2022-01-20 10:18] #9 closed

[2022-05-05 20:54] artempyanykh commented on #8
I've move `lsp-document` into a separate repo. @oovm feel free to [open an issue there](https://github.com/artempyanykh/rust-lsp-document/issues/new) if this is something you're still interested in.

[2022-05-05 20:54] #8 closed

[2022-05-06 03:13] oovm commented on #8
thanks

[2022-05-20 09:28] pidgeon777 opened #11 "[Bug] marksman is missing LSP server capabilities in Neovim"
It seems that some LSP server capabilities such as diagnostic, find references etc. are missing when using marksman with Neovim:

![image](https://user-images.githubusercontent.com/13739892/169496071-c3e42882-41b4-4f57-8e7c-45f987f3eb40.png)

My Neovim config:

[code]

I created an empty `.marksman.toml` file at the root of my notebooks path.

[2022-05-20 19:48] artempyanykh commented on #11
Hi @pidgeon777! Thanks for the config, that's super helpful! I'll take a look what might be missing here.

[2022-06-03 11:35] artempyanykh commented on #11
OK, I finally managed to configure marksman for neovim, used the config below. The interesting part starts with `local Marksman = {}` which mostly resembles your config except `on_init` and `capabilities` in server's setup.

With this config I do get diagnostics and references also work.
<img width="1046" alt="Screenshot 2022-06-03 at 12 30 58" src="https://user-images.githubusercontent.com/233844

[2022-06-09 13:29] keynmol opened #19 "Generate TOC improvements"
Now that #17 is merged, here's how it can be improved:

1. If the document has a **single* level-1 heading (=title), the TOC should be inserted right under it

    This means that the entire TOC will have to be shifted one level down (heading 2 becomes heading 3, etc.) and the original heading-1 is not rendered at all
2. If the document has a YAML frontmatter, the TOC should be inserted under it (

[2022-06-09 14:37] artempyanykh commented on #19
Yes! 🙌 Also, would be great to insert an extra newline between the title and the toc.

[2022-06-09 20:11] artempyanykh opened #20 "YAML front matter support"
Looking at my hakyll blog posts (e.g. [this](https://raw.githubusercontent.com/artempyanykh/blog/master/hakyll/posts/2017-10-02-what-is-a-functor-anyway.md)) I see the following structure

[code]

Since there's no 1st level heading there's no clash between yaml's title and a potential markdown `# Title`.

I guess the question for me is: in the presence of a front matter do we want to
a) treat fron

[2022-06-09 20:11] artempyanykh commented on #20
@keynmol thoughts?

[2022-06-10 12:30] artempyanykh opened #21 "Support ignore files"
The idea is to look for:
1. either `.gitignore`
2. or just `.ignore`
at the root of the project and use the globs there to exclude dirs/files from scanning.

[2022-06-20 10:06] artempyanykh opened #27 "Support relative paths in markdown inline links"
Currently, marksman supports go-to definition for inline links with absolute paths only (absolute relative to the repo/folder root), e.g.
[code]

We should also support relative paths (at least in terms of go-to definition/references) e.g.
[code]

[2022-06-20 10:28] artempyanykh commented on #11
Marksman config has been upstreamed to nvim-lspconfig and nvim-lsp-installer: https://github.com/artempyanykh/marksman#existing-editor-integrations3

Please, give it a go and feel free to reopen the issue if things still don't work.

[2022-06-20 10:28] #11 closed

[2022-06-21 19:45] artempyanykh opened #28 "Add a code lens with # of references on headings and link defs"
Code lenses require custom code for each LSP client.

We already have the client functionality in https://github.com/artempyanykh/marksman-vscode but not other editors.

So the plan is:
1. [x] Add the functionality to produce code lenses with # of references that would work with marksman-vscode.
2. [ ] Add support for nvim.
3. [ ] Add support for Emacs LSP.

[2022-06-21 22:07] artempyanykh opened #29 "Support rename refactoring"
E.g.
[code]

We should be able to rename [foo] and all its occurrences in the document.

Same goes for headings:
[code]

[code]

Should be able to rename title and headings and update all references.

[2022-06-23 09:08] #27 closed

[2022-07-12 05:05] luetage commented on #20
My opinion is that a markdown file without a level 1 heading would feel wrong. There should be an option to still use it without showing an error.

[2022-07-19 16:30] artempyanykh opened #32 "Create gifs instead of pngs to demonstrate Marksman's features"

[2022-07-31 12:45] artempyanykh opened #35 "Implement incremental update of a line map"
Currently, we calculate line map from scratch after every update. With incremental text sync we could do better than this.

The idea is to implement an incremental recalculation of a line map, e.g.
[code]

[2022-08-07 09:16] artempyanykh commented on #29
Resolved in #37 #38

[2022-08-07 09:16] #29 closed

[2022-08-07 21:27] artempyanykh opened #41 "Support heading IDs"
This is a non-standard feature https://www.markdownguide.org/extended-syntax/#heading-ids
However it can be useful! For instance, docusaurus (docusaurus.io) understands custom heading IDs.

[2022-08-08 20:46] #21 closed

[2022-08-18 11:42] erasin opened #45 "Helix editor causes Marksman to get stuck"
as Title , lsp take error when change file .

[code]

os: macos 12.5
termial: alacritty
editor: [helix](github.com/helix-editor/helix/)
marksman: 1.0.0

lsp config: ~/.config/helix/languages.toml
[code]

`hx -vvv`   take log `~/.cache/helix/helix.log`

[2022-08-18 11:59] artempyanykh opened #46 "Build: use git commit or commit date as a version"
Currently, the version is static `1.0.0` which is not cool for debugging. Need to teach the build to fetch the version from the environment.

[2022-08-18 12:02] artempyanykh commented on #45
Thanks for the report @erasin ! Are you using the last released version: https://github.com/artempyanykh/marksman/releases/tag/2022-08-15 ?

The error reported is a timeout; basically, the server couldn't process a change within 5 seconds. This may happen if you have a lot (hundreds and hundreds) of markdown files. Or if you have something like `node_modules` in your repo which is not ignored, so

[2022-08-18 15:09] artempyanykh opened #47 "Move diagnostic calculation outside of the critical section"
Right now, diagnostic calculation is added as a hook and happens inside a critical section: https://github.com/artempyanykh/marksman/blob/main/Marksman/Server.fs#L216; only the actual public of the updated diagnostic happens asynchronously. This means that diagnostic recalculation happens on every keystroke/state_update which is not cool and can lead to timeouts (albeit only on **really huge** wor

[2022-08-18 15:10] artempyanykh commented on #45
Thinking a bit more about this, it should be possible to make things responsive even for really huge workspaces by moving some of the work off of the critical section. More in #47

[2022-08-18 15:11] artempyanykh commented on #32
This was resolved.

[2022-08-18 15:11] #32 closed

[2022-08-19 03:19] erasin commented on #45
I install marksman from release.
[2022-08-15](https://github.com/artempyanykh/marksman/releases/tag/2022-08-15) and [2022-08-07](https://github.com/artempyanykh/marksman/releases/tag/2022-08-07) have test .

All take same error.

I take action that goto a file in summary.md , marksman take error when I change anther file.

[2022-08-19 06:55] artempyanykh commented on #45
@erasin so there's just 2 md files? What's the size of these files?

Also, I haven't tried helix before. Maybe it has something to do with this...

@erasin could you provide more logs? What happens before the error.

[2022-08-19 07:39] artempyanykh commented on #45
@erasin I could reproduce the issue by inserting `案文` into the contents of a file. Looks like there's a problem with handling of non-ASCII characters. This should be fixable.

[2022-08-19 08:35] artempyanykh commented on #45
#48 should fix the issue. As soon as CI passes, I'll merge and make a release.

[2022-08-19 08:58] artempyanykh commented on #45
@erasin please try this release https://github.com/artempyanykh/marksman/releases/tag/2022-08-19 and let me know if it fixes things for you.

[2022-08-20 02:43] erasin commented on #45
thanks ,It's work.

[2022-08-20 02:43] #45 closed

[2022-08-21 17:41] artempyanykh commented on #46
Resolved

[2022-08-21 17:41] #46 closed

[2022-08-22 06:22] #47 closed

[2022-08-23 17:36] David-Else opened #52 "Code action constantly suggests 'Update the Table of Contents', even when it is updated"
Cool language server! :)

With marksman `2022-08-19` on Linux and Neovim I create a table of contents. I have [nvim-lightbulb](https://github.com/kosayoda/nvim-lightbulb) installed. Now the lightbulb is constantly lit (wherever my cursor is) telling me there is a code action to 'Update the Table of Contents', even when non of the headings have changed.

Is it possible to only announce this code ac

[2022-08-23 20:05] artempyanykh commented on #52
@David-Else yeah, we definitely should do it! @keynmol do you think you'll get to #22 soonish? If not, I can take a stab at this issue myself.

[2022-08-24 07:51] MilanVasko opened #53 "Use filename instead of the title when auto-completing wiki-links"
Hello, thank you for creating this project, it looks really useful!

My usecase is that I have a Zettelkasten repository containing a lot of interlinked notes with generated filenames. For example, my typical note might have a filename `202208240944.md` and a content like this:

[code]

If I try to link to this note from another file, I can type `[[some` and I will correctly get a list of suggesti

[2022-08-24 14:40] artempyanykh commented on #53
Hi @MilanVasko! This is the expected behavior — my assumption was that when doing Zettelkasten style note taking, each note’s title should be unique to the note (otherwise, how would you tell them apart?). Therefore it’s fine to use the title’s slug rather than the file name in the link because it’s easier to tell what the link refers to when you have `[[some-title-here]]` vs `[[202208240944]]`.

[2022-08-24 16:43] MilanVasko commented on #53
Hi, I will try to answer part by part.

That's generally true, though not always. As an example - in my notes, I have two notes with the title `Projects`. So what's the difference? One is for personal projects, and one for work. I differentiate between them by context - the links leading up to that note are different.

Granted, I might not be using the purest form of Zettelkasten, so I admit notes

[2022-08-24 16:49] MilanVasko commented on #53
One more thing for clarification. I got this idea of a unique random note identifier from [neuron](https://neuron.zettel.page). The idea is that the filename is immutable, eliminating the need to rename all the references if you decide to change the title of a note.

Some more info about this is on the neuron webpage:
- https://neuron.zettel.page/id

[2022-08-24 18:19] David-Else opened #54 "`Async job failed: request timed out` when using `open workspace symbol picker` in Helix"
I have a directory full of all sorts of random things, including markdown files. It has a `.git` repo initialized at the root.

If I `cd` into it and open a markdown file with headings, the `space e` - `open symbol picker` works like a charm with the headings!

Unfortunately if I choose `space E` - `open workspace symbol picker` then the language server hangs, and I get `Async job failed, request

[2022-08-24 19:37] artempyanykh commented on #54
@David-Else thanks for reporting this!
1. Is it Helix specific or you observe the same behavior in neovim?
2. Do you have .gitignore that ignores e.g. `node_modues` and other sorts of unwanted stuff?
3. How many `.md` files do you have inside the repository?

[2022-08-24 19:39] artempyanykh commented on #54
Oh, totally forgot! @David-Else what's `marksman --version` you have?

[2022-08-24 19:46] artempyanykh commented on #53
Thanks for the explanation @MilanVasko!

Not trying to challenge your workflow, rather further clarify:

Why not rename one to `Personal projects` and the other to `Work projects`?

I sympathise with this idea. But it feels like a workaround for not having the tooling support to do renaming. Marksman has a rename refactor that can rename e.g. a heading and all its references across the whole works

[2022-08-24 20:02] David-Else commented on #54
[code]
but I don't think this is true? I downloaded [2022-08-19](https://github.com/artempyanykh/marksman/releases/tag/2022-08-19)

- There is no .gitignore or node_modules
- only 2 .md files

I don't think Neovim can show symbols? I don't have any plugin that does that, if there is a command I can run that is no problem to report the result.

[2022-08-24 20:25] MilanVasko commented on #53
I might as well do that, my notes are always work in progress :slightly_smiling_face: The point I was trying to make, however, is that clashes may happen.

I understand your point of view, but IMHO there are also other concerns at play here in favor of immutable filenames:

- less diff noise (I have my notes in Git)
- easier renaming when my usual tooling is not available (on mobile, different com

[2022-08-24 20:26] artempyanykh commented on #54
Thanks @David-Else! Would you try a new release https://github.com/artempyanykh/marksman/releases/tag/2022-08-24?

Since there's just 2 files files it's unlikely a performance problem. If the newer version doesn't fix the problem, one thing you could try is to change the extension of one of the 2 .md files to something non-`.md` to see if it's any particular file causing the trouble.

Yeah, you're

[2022-08-24 20:31] David-Else commented on #54
The new version works, you are a genius! :)

[2022-08-24 20:31] #54 closed

[2022-08-24 20:36] artempyanykh commented on #54
@David-Else happy to hear that! So, the problem seems to be that
1. Marksman [2022-08-19](https://github.com/artempyanykh/marksman/releases/tag/2022-08-19) actually didn't have support for workspace symbols. I added workspace symbols a couple days ago and pushed a new release earlier today.
2. LSP client (neovim, helix, emacs) is not supposed to send requests that the server didn't advertise as su

[2022-08-24 20:42] David-Else commented on #54
I am sure team Helix would love to hear about this problem and fix it :)

[2022-08-24 21:12] artempyanykh commented on #53
Ok, cool. In summary, I think having a configuration for the style of wiki-links would be a valuable addition. I can't give an ETA, but I can say that it definitely will be on my list. That is, unless somebody else volunteers to implement it 🙂

[2022-08-25 06:42] MilanVasko commented on #53
Of course, no pressure! Thanks for your understanding.

I might give it a go myself, but since I have no experience with F# or writing language servers, I can't promise anything 🙂

[2022-08-25 09:25] keynmol commented on #52
Once #22 is merged and no further regressions are found (the whole damn thing is a regression), I can take a look at this
I agree in principle that code action shouldn't be offered if both statements are true:

a) it was detected in the workspace
b) the text and in-memory TOC result are the same

It will be a bit harder than I initially assumed because on first opening of the document one will nee

[2022-08-25 09:32] David-Else commented on #52
So it will auto-update the TOC on save? That would be better, then there is no need for the update TOC code action. Nobody wants a wrong TOC and having to remember to update it all the time, auto-update is a much better solution :)

[2022-08-25 09:45] artempyanykh commented on #52
That's a good point. I guess we could hook into [willSaveWaitUntil request](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_willSaveWaitUntil) to do the necessary TOC update on save. But I think we'll still need a standalone code action too.

[2022-08-25 09:48] keynmol commented on #52
Yeah, it can be a configurable thing - I'm about 50/50 on automatically updated TOC, as I prefer to be in control of edits sent from the LSP, but also I like the convenience.

[2022-08-25 09:53] artempyanykh commented on #52
@keynmol you gotta let go and submit to the machines man 😉

Seriously tho, I'm fine with a config in this case but we need to keep in mind that every config option adds more variability to the server's behavior, hence less testing and eyeballing for a particular set of configurations.

[2022-08-25 19:30] #19 closed

[2022-08-25 20:40] #52 closed

[2022-08-25 20:42] artempyanykh commented on #52
The original problem with constantly suggesting to "Update TOC" is resolved now. Updating TOC "on save" feels like a separate feature. @David-Else feel free to open an issue for this if it's something you care about.

[2022-08-25 22:34] David-Else commented on #52
Cheers! I will test it when it gets released in a new version. You can close the issue, or I will after I test the fix.

[2022-08-27 10:43] artempyanykh commented on #52
@David-Else hot off the press https://github.com/artempyanykh/marksman/releases/tag/2022-08-27

[2022-08-27 12:14] David-Else commented on #52
Great work, thanks! Unfortunately I do have a small problem, not sure the best solution. If Marksman creates a TOC, for example:
[code]
All is well, no code action spam... but when I format with Prettier using default settings it inserts a space at the top:
[code]
Now marksman sees it as a change and starts the update spam.

You can see the problem live here: https://prettier.io/playground/#N4Igxg

[2022-08-27 12:56] keynmol commented on #52
I had no idea there are formatters for markdown :)

This seems to be a very strange formatting on Prettier side - do you know what is it trying to do? I.e. what is the particular benefit of producing this newline after comment but not after the end of block of links..

Also, I just found this issue: https://github.com/prettier/prettier/issues/10128 which seems to me that this behaviour of Prettier

[2022-08-27 13:25] artempyanykh opened #60 "TOC formatting vs prettier"
A continuation of https://github.com/artempyanykh/marksman/issues/52#issuecomment-1229181425

The problem is that the current TOC formatting doesn't play nicely with prettier.

There is an issue in prettier https://github.com/prettier/prettier/issues/10128 about this, but right now it's causing friction.

A potential workaround is to add newlines after/before <--!toc:xx--> marker.

/cc @keynmol @D

[2022-08-27 13:25] artempyanykh commented on #52
Let's fork this into a separate issue #60

[2022-08-27 14:04] David-Else commented on #60
I think the workaround looks better anyway, and if Prettier changes to not create the newline in the future it would not cause any problems or create any regressions? You can create as many new lines before and after the TOC as you want and Prettier just formats it back to be one line above and below.

Pandoc seems to have no problem understanding the toc with spaces either side:
[code]
@keynmol

[2022-08-27 19:43] rchl opened #62 "Diagnostics not reported after closing and re-opening a file"
1. Have some diagnostics visible in a markdown file
2. Close the file
3. Open the same file again

Expected: Same diagnostics shown as before closing the file.

Actual: The diagnostics are not shown after re-opening the file.

[2022-08-27 20:27] artempyanykh commented on #62
Thanks for reporting @rchl! I could reproduce the issue.

[2022-08-28 08:26] #62 closed

[2022-08-28 09:39] artempyanykh commented on #62
@rchl please try https://github.com/artempyanykh/marksman/releases/tag/2022-08-28 and feel free to reopen the issue if the problem still persists.

[2022-08-28 10:39] rchl commented on #62
Looks good. Thanks.

[2022-08-28 10:40] rchl opened #64 "Support Mac Silicon build"
Is it possible to provide a native mac arm64 build?

[2022-08-28 11:27] artempyanykh commented on #64
As soon as Github provides apple silicon runners https://github.com/actions/runner-images/issues/2187
Until then there's no easy way to do apple silicon builds on CI.

[2022-08-28 14:27] rchl commented on #64
OK. Maybe keep it as a feature request (rather than a question)? :)

[2022-08-29 11:17] rchl opened #65 "Duplicate headers error"
In a document like:

[code]

The second `Breaking` header is reported as duplicate. I think it doesn't make sense since it's under different parent header.

[2022-08-29 12:42] artempyanykh commented on #65
@rchl thanks for reporting. This is a known problem but the solution is not obvious to me. The gist of the issue is that when you have an anchor link [xxx](doc.md#heading) the heading is not qualified by its path but only by its name. This is in particular what GitHub expects.
GH internally deals with this by adding a -1, -2, -n suffix but then it's super easy to mess up the links when you add yet

[2022-08-29 12:55] artempyanykh commented on #65
One potential solution could be to turn "duplicate heading" error into an "ambiguous link" error. This way when there are no links to the heading, no diagnostics will be raised.

[2022-08-29 19:17] rchl commented on #65
That sounds good to me.

But I also want to point you at https://raw.githubusercontent.com/rust-lang/rust-analyzer/bd7dfac5ebbd8ba3bd63384000759fb4bb49b329/docs/dev/README.md which also reports duplicate headers even though those don't seem to be duplicated.

[2022-08-29 19:39] artempyanykh commented on #65
@rchl the problem there is a "duplicate **title**". The expectation is that there should be just one H1 header aka the title that _names the document_ and then the rest of the headings are H2 -- H5. When there are multiple titles in the document you can't unambiguously use e.g. wiki-links.

But then again, this problem seems to have the same treatment  -- just redo heading diagnostics as "ambiguou

[2022-08-29 19:42] rchl commented on #65
I'm not the best person to discuss that with as I'm not really that familiar with this stuff and frankly those issues don't typically matter in markdown files that I'm working with.

That said, would it make sense for the "duplicate title" error to be a bit more descriptive? If it would say, for example, "Duplicate first-level header"

[2022-08-31 20:41] artempyanykh commented on #65
Yeah, that's fine. I think high-level ask is clear. I'll look into improving diagnostics UX.

[2022-09-02 14:11] jwortmann opened #66 "Server never initializes if no workspaceFolders are given"
The server never responds to the initialize request from the client, if it contains `workspaceFolders: null`.

From the LSP specs:
[code]

[2022-09-02 16:59] artempyanykh commented on #60
#67 makes the TOC ignore whitespace when checking if it's up to date. This should resolve this problem with prettier formatting always triggering a code action to Update TOC. I'll push out the release shortly.

[2022-09-02 17:35] artempyanykh commented on #66
@jwortmann thanks for reporting! I think you may have hit the problem that #68 addresses (which is about initialization). Please try https://github.com/artempyanykh/marksman/releases/tag/2022-09-02 and let me know if the initialization issue is gone.

When it comes to 'single file mode', some functionality like document symbols and reference links can work in a single file mode but the rest (works

[2022-09-02 17:43] David-Else commented on #60
@artempyanykh I tested it, works great, cheers!

[2022-09-02 17:44] #60 closed

[2022-09-02 18:07] jfcherng commented on #66
Hi @artempyanykh, with 2022-09-02 and single file mode, the server does start but I don't see it provide anything but just return `[]` and `None` for everything.

[2022-09-02 20:10] rwols commented on #66
I believe by “single file mode” is meant that workspaceFolders is null in the initialize request, which by the spec is valid.

[2022-09-02 20:14] jwortmann commented on #66
I can confirm what @jfcherng wrote.

Right, this kind of expression is not explicitly mentioned in the LSP specs, but neither is 'project mode' or 'workspace mode' or whatever. But if you look at the description for the [Workspace folders request](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#workspace_workspaceFolders), there it is written that it

So

[2022-09-02 20:14] #66 closed

[2022-09-02 22:40] artempyanykh opened #69 "Add "single file mode""
Currently, Marksman requires a project/root/folder to provide language features such as cross-file references, workspace symbols, and rename refactor that works across many files.

However, it would be convenient to provide a subset of language features in situations where there's no project/root/folder. Some features like "document symbols" will be the same as before in "single-file mode". Other

[2022-09-02 22:45] artempyanykh commented on #66
@jfcherng right now Marksman does need a root/folder and doesn't provide a single-file mode.

But now that I'm thinking a bit more about this, it seems that it'd be quite convenient and a better/less confusing UX overall. I've created a separate issue for this #69

[2022-09-02 22:46] artempyanykh commented on #69
/cc @jwortmann @jfcherng @rwols this is a continuation of #66 focused on "single file mode" support.

[2022-09-02 22:50] artempyanykh commented on #10
`offsetEncoding` has made it to the official spec. But since UTF-16 is still required to support and dotnet is UTF-16 by default, I don't see much upside **at the moment** to work on this.

[2022-09-02 22:50] #10 closed

[2022-09-02 22:54] artempyanykh commented on #20
Support for YAML front matter was enabled in #22. The front matter is parsed but its contents are not interpreted in any way. This will do until we have a good use-case for interpreting the front matter.

[2022-09-02 22:54] #20 closed

[2022-09-03 15:05] artempyanykh opened #71 "Support non-root ignore files"
E.g. https://github.com/rust-lang/rust-analyzer has editor subfolder which has an ignore for `node_modules`. Without support for non-root ignores Marksman reads all md files from node_modules which is not needed and not helpful.

[2022-09-03 15:44] #71 closed

[2022-09-03 15:54] artempyanykh commented on #65
Resolved in https://github.com/artempyanykh/marksman/releases/tag/2022-09-03

[2022-09-03 15:54] #65 closed

[2022-09-04 18:39] weakish opened #73 "Reference link labels should be case-insensitive"
First, marksman treat link labels case sensitive.
For exmaple, the following markdown triggers a false positive warning.

[code]

According to [John Gruber's canonical description of Markdown's syntax](https://daringfireball.net/projects/markdown/syntax#link),
link labels are case insensitive.

Second, marksman does not recognize [shortcut reference links][shortcut].
For example, the following mar

[2022-09-05 09:05] artempyanykh commented on #73
Thanks for reporting @weakish! Case sensitivity in link resolution should be fixed; I’ll look into it.

Re: shortcut links, shortcuts  a-la `[foo]` work when it comes to go-to definition, completion, etc (modulo case-sensitivity). There’s no diagnostic for shortcut links (which is IIUC the problem you mentioned above) because generally you can’t tell if something is supposed to be a shortcut link

[2022-09-08 22:13] #69 closed

[2022-09-09 08:58] #73 closed

[2022-09-11 13:03] johnybx opened #77 "Incorrect link to header generated when header contain link."
Hi,
thanks for great LSP server. I noticed that when I use link in header like in the example bellow the server autocompletes incorrect link like in the example:
[code]

I believe the second link should omit the url part like this`#google-link`.

Here is screenshot from neovim how I see autocomplete options for this example:

![incorrect-link-screenshot](https://user-images.githubusercontent.com/1

[2022-09-11 14:27] artempyanykh commented on #77
Hi @johnybx! Thanks for reporting.
Generally, with anchor completions, the anchor text is a slug of the respective header's text. With that said:
1. I think when a header contains a single link we could make the completion and reference resolution handle that in a special way. But then the question is: does Github understands this kind of anchor links?
2. What if a header is some text + a link. Wh

[2022-09-12 16:45] n0s4 opened #78 "Document Symbols Ordering"
I have a file like so:

[code]

When I open the symbol picker I expect the ordering to be top to bottom, but it instead lists H1s first, then H2s:

![sym_picker](https://user-images.githubusercontent.com/96927121/189710276-fc28c37d-6232-44a9-bd09-4b6eb41ffb98.png)

[2022-09-12 17:01] n0s4 opened #80 "Table Formatting"
Formatting tables manually is a pain. Does table formatting sound like a plausible feature? I can use a third party formatter in the meantime but it does sound convenient.

[2022-09-12 18:07] artempyanykh commented on #78
Are you using Telescope? On the server side the symbols are produced in the *expected* order and in a hierarchy, but apparently Telescope applies its own ordering on top.

I'd recommend checking Telescope's docs wrt sorters and/or raising an issue there.

[2022-09-12 18:09] artempyanykh commented on #80
@n0s4 yes, as a code action it makes a lot of sense!

[2022-09-12 18:34] n0s4 commented on #78
No, this is actually Helix's builtin symbol picker (<kbd>Space-s</kbd>). I'm not sure if Helix applies ordering on top. Are you saying that is the likely cause?

[2022-09-12 20:44] artempyanykh commented on #78
Ah, OK! Helix doesn't support hierarchical document symbols so there's a flat list which is a different code path. I'm 90% sure that the server still produces symbols in the expected order and it's Helix applying its ordering on top (which looks like alphabetical).

[2022-09-13 08:27] #78 closed

[2022-09-13 08:40] artempyanykh commented on #78
@n0s4 turned out the weird ordering was coming from the server. I just pushed a new release with the fix https://github.com/artempyanykh/marksman/releases/tag/2022-09-13

[2022-09-13 13:16] Leo-Zarni01 opened #82 "Root directory not found"
Hello, so I am currently using WSL 2 Ubuntu, and I am having this error as shown in the pic when I run `LspInfo` on Neovim. I downloaded the latest release via curl, renamed the binary and even placed it inside my PATH folder. But for some reason, it seems like LSP is not properly detecting Marksman as completion and other features not seem to work. Here's the error message below with some additio

[2022-09-13 13:19] Leo-Zarni01 commented on #82
And this is my setup code in `init.lua` :
![image](https://user-images.githubusercontent.com/50450659/189911728-fd8ccab3-5e49-4d93-8f57-d1e8226b0af7.png)

[2022-09-13 17:12] artempyanykh commented on #82
@Leo-Zarni01 I'm assuming your files are not under git? If so, could you put `.marksman.toml` at the root folder where your markdown files are?

The reason is neovim/LSP need a "folder" to start the LSP server on. More about this here https://github.com/artempyanykh/marksman#workspace-folders-project-roots-and-single-file-mode

[2022-09-14 02:24] Leo-Zarni01 commented on #82
Hi it seems to work now thank you so much!

[2022-09-14 02:24] #82 closed

[2022-09-14 08:47] artempyanykh commented on #82
Happy to hear it works!

[2022-09-14 11:15] David-Else commented on #80
I hope marksman does not become a tool for formatting, we have prettier for that. If that is too slow then there is Deno written in rust that is very fast.

If it does become a formatter then please make sure there is as an option to turn it off. Cheers :)

[2022-09-14 11:30] avucic opened #83 "Autocomplete link markdown format"
Is it possible to to configure autocompletion markdown link format `[Foo Bar](foo-bar.md)` instead wiki of format `[[foo-bar]]`?

[2022-09-14 11:37] artempyanykh commented on #80
To set clear expectations, unless someone comes, implements this code action and sends a PR (which I'd be happy to accept because I do see value in this functionality), I wouldn't count on Marksman becoming a formatter any time soon - my personal todo list is already quite full with improvements to the *core* functionality.

[2022-09-14 16:05] artempyanykh commented on #83
Hi @avucic! Thanks for raising this. Could you give a more specific example for the behavior you want: document + input to autocomplete? The way things are now:
1. If you type `[[` this will bring *wiki-style* autocomplete.
2. If you type `[](` or `[Foo bar](` this will bring markdown-style autocomplete. You need to input the square brackets `[]` because markdown inline links have the structure `[

[2022-09-14 18:23] avucic commented on #83
Hi @artempyanykh. Right now I'm using [zk-nvim](https://github.com/mickael-menu/zk-nvim) which has implemented LSP sever (I beleive `zk` tool has that under the hood). I like feature that when you type `[[ node anme]]` AC will return link like this: `[h1 header from the file](path to the file.md)`. Actually you can configure that in .zk/config.toml `link-format = "[{{title}}](/{{rel-path}})"`. Cur

[2022-09-14 19:46] johnybx commented on #77
Hi,
yes I tested the links in gitlab and also with [nvim extension](https://github.com/iamcco/markdown-preview.nvim) and links work only if anchor slug ignores the link text. Even if heading looks like this
[code]
I believe the link should be `#test-something`.

Basically my report was based on the fact that the generated links did not work :).

Currently my use case is developer documentation whe

[2022-09-14 20:37] artempyanykh commented on #77
Thanks for the info @johnybx! I do care for the generated slugs to be readable by GitHub/GitLab so if they strip out urls from links in the heading, so should Marksman 🙂 I'll look into it. Meantime, yes do try the workaround.

[2022-09-15 10:02] MilanVasko commented on #83
Indeed, a configuration option such as the one @avucic mentioned would also solve my use case really nicely :+1:

[2022-09-16 19:28] seagle0128 opened #84 "Does marksman support lint?"
Hi, thanks for the great lang server for markdown.
I am wondering if marksman support markdownlint or other lint tools/plugins?

[2022-09-17 06:49] zim0369 opened #85 "Unable to get working on helix"
I've tried configuring marksman as per the README but it doesn't work for me.
[code]
I have an empty `.marksman.toml` file in the cwd.
log(`hx -vvv file`)->`:log-open`:
[code]

[2022-09-17 06:50] zim0369 commented on #85
I'm unable to see any of the features showcased in this repo.

[2022-09-17 07:14] artempyanykh commented on #85
Thanks for reporting this @zim0369 ! Could you tell the version of helix and marksman you're using? Also, please try running "marksman server -v 4" to enable debug out

[2022-09-17 07:31] zim0369 commented on #85
@artempyanykh
[code]
Started `hx -vvv file` in a terminal and `marksman server -v 4` in another:
helix log:
[code]
marksman debug output:
[code]

[2022-09-17 07:48] artempyanykh commented on #85
@zim0369 in the output above did you literally start marksman in another terminal? If so, that's not quite how it's supposed to work. helix starts marksman process itself. To enable debug out for marksman under helix you need to use `args=["server", "-v", "4"]` in helix's config. Please, check helix configuration section of the README.
Then you could load a Markdown file, hit "space s" to open sym

[2022-09-17 07:55] zim0369 commented on #85
Yes, I do get the symbol picker with `<space>s` but I don't get anything else. No linting, hover preview, completion or diagnostics.

marksman -v:
[code]

log-open output:
[code]

[2022-09-17 08:05] artempyanykh commented on #85
@zim0369 ok, at least now it's clear that _something_ is working.

Let's see what's going on with completion. Could you add the following line to the end of your markdown document (has to be a new line)
[code]

Then do you get a completion option when you type `[`?

[2022-09-17 08:10] zim0369 commented on #85
Yes, I do.

[2022-09-17 08:21] artempyanykh commented on #85
@zim0369 ok, that's good! Then the next question is could you provide an example case when you expected some functionality to work, but it wasn't working. E.g some completion items not appearing, or hover not working?

[2022-09-17 08:45] zim0369 commented on #85
None, of the features showcased in the gifs are working. No completion, no diagnostics, & no hover preview.

[2022-09-17 08:56] artempyanykh commented on #85
@zim0369 sorry, I'm confused. You told me that you get document symbols, and you get completion options (using the example I provided); so _something_ clearly _is_ working but you're saying that nothing is working.

Perhaps what could be useful is if you could show the document and explain where and what you expect the server to do, so that I could understand what is not working.

[2022-09-17 08:59] zim0369 commented on #85
The picker is working.
Completion only works when I use your example.
Other things don't work.
I don't get any diagnostics. No spelling errors. `[d` does nothing.
Hover previews do not work.
Completion, again, only works with your example so I'm only able to type "foo" with it.

[2022-09-17 09:31] artempyanykh commented on #85
@zim0369 ok, I think there's a misunderstanding with regards to what the markdown LSP does. The server provides language features for *Markdown*. It will not autocomplete random words and it is not a spell checker. The server provides:
1) auto completion for **markdown links** and **wiki links**. So `[` will trigger autocomplete for markdown reference links; `[[` for wiki links, and e.g. `[...](#`

[2022-09-17 10:14] zim0369 commented on #85
https://user-images.githubusercontent.com/85027668/190851681-c85961f1-ca69-4543-ba54-4d21c4e633ac.mp4

So, I found out they're working but not as I expected because I come from "remark language server". It also had spellcheck working. In helix there's ltex-ls which too has spellchecking. What I miss most is that remark had autocomplete for words that were already present inside the buffer.

Btw, C

[2022-09-17 15:13] zim0369 commented on #85
Btw, sorry for disturbing. You can close this issue now.

I'll leave some suggestions:
1. **spellcheck & dictionary:** In vim I'm easily able to go to next spelling mistake using `]s` and fix it with `z=`(suggestions) or add it to my dictionary using `zg`. Dictionary is the editor's job IG.
2. [table mode](https://github.com/dhruvasagar/vim-table-mode): The convenience it provides for markdown tab

[2022-09-17 16:58] artempyanykh commented on #84
Hey @seagle0128, thanks for the kind words! I didn't really think about getting into the whole "style checking" business.

AFAIK many editors now support multiple LSP servers per file so you can have e.g. in neovim:
1) marksman for markdown "intellisence",
2) ltex-ls for spell checking,
3) markdownlint via null-ls for style checking,
4) prettier via null-ls for formatting.

Similar setup is possib

[2022-09-17 18:54] seagle0128 commented on #84
I agree. AFAIK, many lang servers leverage the plugin mechanism to integrate other tools to achieve.

Anyway, thanks for your detailed explanation! I am closing it.

[2022-09-17 18:54] #84 closed

[2022-09-20 07:30] n0s4 commented on #85
That can be done in Helix with space-R

[2022-09-20 22:03] artempyanykh commented on #85
Thanks for mentioning this @n0s4! Currently, rename in helix as a bit of a pain because the editor doesn't support `textDocument/prepareRename` request (https://github.com/helix-editor/helix/issues/3093). For instance, when your heading is made of several words and/or punctuation and the cursor is between `T` and `w`
[code]

in neovim/emacs rename would have `Two words` as a default placeholder fo

[2022-09-20 22:09] artempyanykh commented on #85
@zim0369 no probs, it's fine :) I agree that having a single app that would do all of this would be very convenient. But since we don't have it, perhaps future multi-server support is the next best thing. This way you would be able to combine e.g. `marksman` for intellisense, `ltex-ls` for spell-check, `prettier` for formatting, etc.

[2022-09-20 22:13] artempyanykh commented on #80
@jfaz1 I agree it'd be convenient! In terms of UX, `org-mode` tables come to mind first. But I do wonder what it would look like in terms of LSP interaction. The protocol doesn't allow much dynamism, so I don't really know how a code action (or anything else) would support the use-case of dynamic table creation/manipulation.

[2022-09-22 13:57] reagle opened #86 "How to enable/configure single-file mode?"
The README says the following, but how to enable?

[2022-09-22 14:33] artempyanykh commented on #86
@reagle single-file mode will be activated by default if the editor supports it. So far, I know that Sublime and Helix do this; while neovim and emacs need a folder.

The README can be improved to make it clearer.

Do you experience problems with single-file mode in one of the supporting editors?

[2022-09-22 14:49] reagle commented on #86
In ST4, in the diagnostics panel, I was being shown linting errors for files I didn't have open, so I thought I must've not been in single-file mode.

[2022-09-22 16:32] artempyanykh commented on #86
@reagle I see. A single-file mode is not something that currently can be toggled by the user but is rather enabled based on what the editor sends during LSP server initialization. Basically, it was implemented as a fallback mode in cases where the folder is not available to improve the UX.

I think it shouldn't be too hard to make a config option that would force the single file mode regardless of

[2022-09-22 16:35] artempyanykh commented on #41
@reagle how does this work exactly? Is `[<text>]{id="<id>"}` the syntax you need to use to decorate something with an id (basically, wrap it in a link-like thing)?

[2022-09-22 17:08] reagle commented on #41
Hi @artempyanykh.

Pandoc supports two extensions that I use, [implicit header references](https://pandoc.org/MANUAL.html#extension-implicit_header_references) on headings and [bracketed spans](https://github.com/jgm/commonmark-hs/blob/master/commonmark-extensions/test/bracketed_spans.md) elsewhere. Neither is in the core CommonMark specification, but bracketed spans are [supported in djot](https:

[2022-09-22 18:57] artempyanykh opened #87 "Support Pandoc's implicit header references"
Cont to #86 . See https://pandoc.org/MANUAL.html#extension-implicit_header_references

[2022-09-22 19:01] artempyanykh opened #88 "Support Pandoc's bracketed spans"
Cont. to #41 https://github.com/jgm/commonmark-hs/blob/master/commonmark-extensions/test/bracketed_spans.md

[2022-09-22 19:07] artempyanykh opened #89 "Config flags to enable/disable diagnostics"
There are many extensions to markdown that define there own flavors of links. Lack of support for these extensions may trigger diagnostics that can be distracting. The idea is to provide an option to disable various types of diagnostics while still be able to use other pieces of functionality from the *supported set*.

[2022-09-22 19:10] artempyanykh commented on #86
All right. I think #87 + #88 would be a constructive solution to the problem with potentially #89 to silence diagnostics when it's distracting. I'm going to close this issue for now, but @reagle feel free to re-open if you feel that a single-file toggle would be valuable.

[2022-09-22 19:10] #86 closed

[2022-09-22 19:11] artempyanykh commented on #41
@reagle I like the idea of supporting these extensions. I extracted each into its own issue.

[2022-09-22 19:13] #85 closed

[2022-09-22 21:43] rchl opened #90 "Don't include `source` code action by default"
Marksman returns code action of the `source` kind (titled `Create a Table of Contents`) when editor asks for code actions without explicitly specifying any `kind`s.

For example editor make this request:

[code]

and marksman returns:

[code]

I don't have any explicit description of expected behavior for this but based on VSCode primarily (and what we have mirrored in Sublime Text) it seems that

[2022-09-22 22:06] rchl commented on #90
I have tested Volar and Stylelint language servers and both don't provide `source`-level code actions unless explicitly asked for those.

That said, I have tried your VSCode extension for this server and it appears that VSCode itself filters out `source` code actions for the code actions requested for current selection/cursor. So that's why this issue is not visible there. I suppose Sublime Text s

[2022-09-23 11:58] airtonix opened #91 "table of contents configuration?"
i want it to ignore the `h1` , or

i want it to ignore headings that are specially tagged/annotated with some non renderable syntax.

[2022-09-23 14:38] jwortmann commented on #90
I can't find any hint in the LSP specs which would support this proposition. I think it should be perfectly fine to return "source" code actions, even if some other servers don't do this (perhaps they all use Microsoft's node based language server library which might force this behavior or so).

If it turns out that "source" actions should really not be provided unless explicitly asked for, then t

[2022-09-23 16:36] artempyanykh commented on #91
Hi @airtonix !

This should be pretty straightforward.

Could you give an example?

[2022-09-24 16:25] rchl commented on #90
https://github.com/microsoft/language-server-protocol/issues/1554

[2022-09-26 09:16] RobWalt opened #92 "Nix Support"
I would like to use marksman on my nix based system, but I don't have any experience with packaging so far and failed when I tried to do so for marksman.

I'll assist as good as I can if someone else wants to try it out.

[2022-09-27 09:03] David-Else commented on #90
I don't have anything to add on the technical side, but from the user side the current behaviour of having a code action to create a table of contents appear everywhere in the file is annoying.

If I don't want a table of contents I constantly have the little code action light bulb alerting me on every single line to make one. Maybe it should only light up on the first line of the document, as tha

[2022-09-28 06:59] airtonix commented on #91
I guess it should be something that doesn't render.

Some ideas:

Control exactly where to start from
[code]

if we could support for [custom heading ids](https://www.markdownguide.org/extended-syntax/#:~:text=Heading%20IDs,same%20line%20as%20the%20heading.):

[code]

Vaguely specify tags to exclude

[code]

ability to ignore certain headind instances

[code]

or

[code]

[2022-09-28 10:11] tukusejssirs opened #94 "Add indentation configuration"
I am not sure if this is an issue of `marksman` or [`LSP-marksman`](https://github.com/bitsper2nd/LSP-marksman), however, when I generate TOC in Sublime Text, it does not follow the indentation configuration of my editor.

Ideally, `marksman` should follow the indentation config of the editor (or currently open file or `.editorconfig`), however, when that does not work, users should be able to con

[2022-09-28 10:31] tukusejssirs opened #95 "Add an action/snippet to insert emojis"
It might be a good idea to add an action/snippet to insert emojis, just like we do on GitLab and GitHub using a colon (e.g. `:wink:` → :wink:).

[2022-10-02 07:16] stasjok commented on #92
I managed to package it. You can test it if you want: NixOS/nixpkgs/#193682.

[2022-10-02 18:16] artempyanykh commented on #95
Thanks for suggesting this @tukusejssirs! Seems useful, so why not 🙂 I'd accept a PR that implements completion for emojis a-la https://gist.github.com/rxaviers/7360908

[2022-10-02 18:20] artempyanykh commented on #94
Thanks for raising this @tukusejssirs! Adding support for both would be helpful!
* indentation config in `.marksman.toml` and
* `.editorconfig`

[2022-10-02 18:25] artempyanykh commented on #91
@airtonix I like that, thanks for writing it down!

[2022-10-02 18:30] artempyanykh commented on #90
Yeah. This would make this feature less discoverable but probably still better overall UX than the current state.

[2022-10-02 18:32] artempyanykh opened #96 "'Create Table of Contents' code action should not be suggested always"
- [ ] Change the code to suggest 'Create ToC' when either
  - the requested range overlaps with the 1st line of the document,
  - code action kind is 'source'.
- [ ] 'Update ToC' should be suggested anywhere in the document still (as is now).
- [ ] Update the docs

[2022-10-02 18:34] artempyanykh commented on #90
#96 should address the annoyance of 'Create ToC' code action. I'm going to close this issue now. Feel free to re-open if there's something else actionable that I missed.

[2022-10-02 18:34] #90 closed

[2022-10-02 18:51] tukusejssirs commented on #95
Other useful lists of emojis:
- [emoji-cheat-sheet](https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md);
- [GitHub Emoji Picker](https://github-emoji-picker.vercel.app/) ([src](https://github.com/missive/emoji-mart));
- [GitLab emoji](https://github.com/yodamad/gitlab-emoji):
   - note that this list is list of GitLab emojis;
- [Emoji Cheat Sheet](https://www.webfx.com/tools/emoji

[2022-10-02 19:26] rchl commented on #96
What does `suggest 'Create ToC' only on the 1st line of the document` mean exactly?
That the code action should only be returned if the asked for range includes first line?
If that's the case then you should also ensure that the code action is returned regardless of the asking range if explicitly requesting `source` code actions. Otherwise this change would cause issues for the `Source actions` co

[2022-10-02 20:29] artempyanykh commented on #96
Thanks for mentioning `source` code action kind @rchl! I've updated the todos to reflect the condition more precisely, e.g. either `source` or the range overlapping with 1st line of the document.

[2022-10-04 14:36] jwortmann commented on #90
Hm, I would say that the following quote from https://github.com/microsoft/language-server-protocol/issues/1554#issuecomment-1266512306 seems to indicate the contrary to that:

I would infer from this, that servers are allowed to return "source" actions even if not explicitly asked for, and that Sublime LSP needs to filter them out afterwards if it wants to make sure that no "source" actions are s

[2022-10-04 15:11] rchl commented on #90
But the overall summary is that the intention is that the `source` actions are either not returned or filtered out by the client. So then not returning them from the server seems to be a sane approach that will also potentially save server some processing. Even if spec can't or chosen to not explicitly disallow that.

I think that idea is a bit strange anyway.

[2022-10-04 16:19] artempyanykh commented on #90
@rchl I'm open to other ideas 🙂 It's important though that the solution should work in all editors/LSP clients in a sane way.

[2022-10-10 16:52] johnybx commented on #77
I just tried the workaround and it works but when I define links using link definition than the generate table of contents command is broken

[code]

Should I create another issue for this or is it related enough to have it in single issue?

[2022-10-17 20:06] cor opened #98 "ARM Linux support"
It would be nice if ARM linux binaries could be provided

[2022-10-19 19:28] xxxserxxx opened #99 "Recursively scanning $PWD"
I was surprised to find that marksman recursively scans the directory it was run in, and opens every markdown file it finds as well as every .gitignore. This means that if a user with an editor that uses marksman opens a file from their home directory, marksman will attempt to recursively scan their entire home directory; if they open a file from root, marksman will recursively scan the entire fil

[2022-10-19 20:00] artempyanykh commented on #99
Thanks for raising this @xxxserxxx . Marksman does this scan only in the workspace mode, that is if you open a file inside the folder which is either under version control or has a marker .marksman.toml file. Marksman needs to scan the workspace in order to provide cross file completion, navigation, and diagnostics. Otherwise marksman opens a file in a single file mode and doesn't do the recursive

[2022-10-20 16:44] xxxserxxx commented on #99
Yes, I observe it outside of a workspace, and outside of repositories.

You can easily replicate this:

[code]

The function `makeBig 5` will create 650 markdown files in subdirectories up to 5 levels deep. If you visually inspect the log, you'll see marksman entering every directory, recursively, and opening every file.

Most users probably don't change LSP servers for markdown depending on what

[2022-10-20 16:49] xxxserxxx commented on #99
I apologize; I think, based on what you've said and I've seen, that I'm seeing a bug. Would you like me to re-file this as a ticket?

[2022-10-20 19:05] artempyanykh commented on #99
Great! Thanks for a repro @xxxserxxx!

No need to refile. I'm going to investigate.

[2022-10-23 16:09] artempyanykh commented on #90
I found some time to check the behavior in other editors; unfortunately, neither nvim, nor helix, nor emacs/eglot provide code action kind, trigger kind when requesting code actions. Basically, whatever the spec has to say about `only?` in code action request, the actual behavior is idiosyncratic to a particular editor/LSP client.

👍

[2022-10-23 17:32] artempyanykh commented on #99
@xxxserxxx I couldn't reproduce the behavior you described... at first. Until I recompiled helix from master.
The thing is something changed in helix between 42e30e7a..ce469abf
Previously, when you opened a file that was NOT under VCS and NOT marked [with a custom root file](https://github.com/helix-editor/helix/blob/master/languages.toml#L940), helix would initialize the marksman language server

[2022-10-23 17:52] artempyanykh commented on #99
Reported to helix https://github.com/helix-editor/helix/issues/4436

[2022-10-24 17:33] artempyanykh commented on #98
Thanks for raising this @cor ! I use GitHub runners to build releases on CI. To build for ARM Linux one of the following should happen:
1. someone figures out how to setup a cross-compiling toolchain to build and publish aarch64 binaries from x86 host,
2. someone donates an aarch64 machine to use as a self-hosted runner,
3. github adds aarch64 managed runners.

The timeline for neither of these is

[2022-10-26 11:42] xxxserxxx commented on #99
Thank you; if I'd have been thorough, I'd have tried this with vim, too. Thanks for tracking it down.

[2022-10-26 15:25] tukusejssirs opened #100 "Add an option to exclude some folders"
I am not sure if this is an issue of `marksman` or of [`LSP-marksman`](https://github.com/sublimelsp/LSP-marksman) which I use in Sublime Text.

---

I have noticed that `marksman` does not ignore files in `node_modules/` folder, therefore I have now log of warnings of files that are not mine and I don’t care about them.

It would be nice to provide a way to ignore/exclude files, ideally using glo

[2022-10-26 17:37] tukusejssirs commented on #100
I missed that. :wink:

Yes, I have `node_modules/` in `.gitignore`.

Just to make sure I provide all needed information:

- I use Sublime Text.
- In ST, I installed [LSP](https://github.com/sublimelsp/LSP) and [`LSP-marksman`](https://github.com/sublimelsp/LSP-marksman) packages.
- I work with ST projects (workspaces) in which I have add a folder which is the root folder of the project in which al

[2022-10-26 19:02] artempyanykh commented on #100
Thanks for the extra context @tukusejssirs! Might be a problem with glob evaluation. Before I start investigating, could you try changing .gitignore to have `node_modules` or `node_modules/*` or some other variation and restart the server?

[2022-10-26 20:25] tukusejssirs commented on #100
I tested it with these globs, but the result is always the same:
- `node_modules`;
- `node_modules/`;
- `node_modules/*`;
- `/node_modules`;
- `/node_modules/`;
- `/node_modules/*`;
- `node_modules/aedes/docs/Aedes.md`;
- `/node_modules/aedes/docs/Aedes.md`.

After each change in `.gitignore`, I restarted the LSP server. I’ve even tested them all at once.

I also thought that the issue is in the f

[2022-10-26 22:29] artempyanykh commented on #100
Thanks for trying @tukusejssirs! My original motivation for adding ignores support was exactly to avoid indexing `node_modules` while working with docusaurus docs. And it worked for me in neovim. But apparently something is wrong.

I'll look into it. Meantime, could you tell me your `marksman --version`? Also, is the repository you're working on OSS?

[2022-10-27 20:01] artempyanykh commented on #100
I reproduced an issue. It's a problem with glob patterns evaluation. The fix is in progress.

[2022-10-27 20:23] tukusejssirs commented on #100
Sorry for late reply.

The version I use is `1.0.0-1a3998f`. I use it on Arch Linux.

It can be reproduced on any repository after installing any NPM package that contains some issues in its Markdown files (e.s. `aedes` package). However, that is irrelevant, as you seem to found the culprit. :+1: :pray:

[2022-10-28 10:34] David-Else commented on #96
Is it possible that Marsksman could not suggest creating a TOC at all, but instead it is available as an LSP command? If the document had a TOC it could still provide a code action to update it. I think this would be the best solution as most documents don't have a TOC and an LSP command seems a more natural solution?

 [Helix is about to get commands added](https://github.com/helix-editor/helix/p

[2022-10-28 10:42] rchl commented on #96
I think that a code action of `source` type is appropriate for this use case.

Custom commands typically require a bit of glue code on the client side so I'm not sure what would be the benefit of that over source code actions.

[2022-10-28 10:48] David-Else commented on #96
@rchl Are you saying that custom commands can't just be called via the client, they need specific code on the client side? If so, that would be bad news.

[2022-10-28 10:55] artempyanykh commented on #96
@David-Else a "command" seems like a better fit, yes. I haven't checked this part of the spec and what the editor support looks like in Emacs, nvim; need to figure this out.

[2022-10-28 10:55] rchl commented on #96
LSP servers can only tell client the command IDs they support (for example `marksman.create_toc`). The client neither has a nice title for that command nor a schema to know what arguments to pass (in case command takes arguments) so typically those missing bits need to be added manually to the client configuration.

Clients could expose command IDs and let users trigger them but that wouldn't be v

[2022-10-30 14:29] artempyanykh commented on #100
@tukusejssirs please try this version https://github.com/artempyanykh/marksman/releases/tag/2022-10-30 and let me know if it helps.

[2022-10-30 14:40] tukusejssirs commented on #100
@artempyanykh, it seems to be fixed, thanks! :pray:

Just a note: GitHub does not auto-closes issues when `fix`/`resolve` (et al) keywords are in release notes; it does so when the keywords are in commit messages. Maybe that was your intention, but I felt it might be a good idea make sure you know about it. :wink:

[2022-10-30 16:58] artempyanykh commented on #100
Glad to hear that!

Thank you, I'm aware of that. I wanted to confirm with you that the issue is indeed resolved before closing it.

[2022-10-30 16:58] #100 closed

[2022-11-01 09:14] wserr opened #102 "Issues when trying to build latest version"
Repro steps:

1. Pull latest main branch
2. In root folder, run `make install`

Error:
[code]

NOTE: running on dotnet SDK 6.0.110, changed the `global.json` accordingly

NOTE 2: when checking out commit ab5a2c266a00aab9475cc93e47dea1c47ea8d167 (oct 12 2022), the build succeeds

[2022-11-01 11:26] artempyanykh commented on #102
First thought - since CI is green perhaps it's some minor incompatibility between dotnet versions. I'll look into it.

@wserr is there a reason you want to use 6.0.101 instead of 6.0.300?

[2022-11-01 16:56] wserr commented on #102
@artempyanykh when I try to run following command on ubuntu:

[code]

I see the following message

[code]

[2022-11-01 17:14] wserr commented on #102
Tried to install via the dotnet website, instead of the `apt` package manager. Now on dotnet 6.0.402 and now it seems to work. Will close the ticket. Thanks for the quick response though!

[2022-11-01 17:14] #102 closed

[2022-11-05 18:41] dzintars commented on #53
Just will add my two cents. This is how my notes looks like. I use those file names as it gives me an flexibility to move and transform notes around. To split notes. To rename notes. Whatever. I don't need to think where does this note belongs to. I have a flat file structure. Which IMHO is HUGE benefit.
I was using Obsidian before, but lately for like a 6+ months i use only https://github.com/mic

[2022-11-08 09:49] bennypowers opened #104 "Convert to Reference Link code action"
Thank you for publishing this useful package

given this file:

[code]

Let there be a code action called "Convert to Reference Link" which converts the file to

[code]

The code action would know to sort existing reference links by first-appearance, and would offer the user an input to choose the reference tag, pre-populated with the slugified link text.

[2022-11-08 09:50] bennypowers opened #105 "Format Table"
Thank you for publishing this package

Let marksman provide a format function which formats GFM tables.

It may also format paragraphs, blockquotes, and lists by max line length

[2022-11-08 12:05] David-Else commented on #105
I recommend you use Prettier for that, it is pretty much the industry standard for Markdown. If that is too slow checkout Deno that uses Rust.

[2022-11-09 18:40] ckipp01 opened #106 "“marksman” can’t be opened because Apple cannot check it for malicious software."
Hello! After updating MacOS today I started to get an error every time I open Neovim and try to use Marksman in a markdown file. I'm greeted with this thing:

<img width="251" alt="Screenshot 2022-11-09 at 19 36 31" src="https://user-images.githubusercontent.com/13974112/200913305-1e7711cc-2ae5-4900-a6e5-66861bf9cc79.png">

Here's some hopefully useful info:

macOS: Ventura 13.0
shell: fish 3.5.1

[2022-11-09 18:57] keynmol commented on #106
Classic.

[code]

:)

[2022-11-10 07:43] ckipp01 commented on #106
Well gosh darn, that worked. Thanks @keynmol!

[2022-11-10 07:43] #106 closed

[2022-11-10 10:17] artempyanykh commented on #106
Apple's security measures have been pain for a while. I wonder if there's any way to avoid the popup without spending $99/year on an Apple Developer account?..

Anyhow, @keynmol's solution deserves a note in the README :)

[2022-11-13 13:24] artempyanykh commented on #96
Marksman now supports user- and project-level config. With #109 users who don't care about ToC can disable it globally in their user-config and then re-enable on a project-by-project basis if needed.

By default, ToC is enabled but this is something to potentially reconsider in future.

Re: using code action's range and context to decide whether to suggest the ToC code action or not -- the problem

[2022-11-13 13:24] #96 closed

[2022-11-13 15:30] artempyanykh commented on #99
@xxxserxxx FYI I've landed a temporary workaround in #110 . The next release will behave saner with Helix.

[2022-11-15 02:00] realprogrammersusevim opened #111 "Add support for tag completion"
I often use tags to help me find notes in my Zettelkasten system and it would be extremely useful to have some sort of tag completion. It could be triggered by typing a `#` and then a letter to show that the user isn't trying to type a header. Then the completion options would be all the other tags used in a folder. This would help to show what other common tags are and make sure all of them are u

[2022-11-15 10:13] artempyanykh commented on #111
Thanks for raising this @realprogrammersusevim! Could you provide a small snippet of markdown doc showing how you use tags?

[2022-11-15 14:52] realprogrammersusevim commented on #111
Here's an example of how I put tags in my documents:

[code]

[2022-11-18 10:38] gour opened #112 ""Link to non-existent document...""
Hello,

I've problem running Marksman under SublimeText, iow. auto-completion for `[[Wikilink]]` does not work and here is the output in the ST's log panel:

[code]

Below are my two test files...

[first.md](https://github.com/artempyanykh/marksman/files/10040488/first.md)
[second.md](https://github.com/artempyanykh/marksman/files/10040489/second.md)

Any hint?

[2022-11-19 12:21] gour commented on #112
It looks it is the problem with SublimeText's [LSP-marksman](https://github.com/sublimelsp/LSP-marksman) package since the same test performs well with Helix editor.

[2022-11-19 12:47] artempyanykh commented on #112
Thanks for reporting this @gour! As a quick sanity-check: do you have `.marksman.toml` or a git repo at the root folder with your notes? (I'm referring to the "Workspace folders, project roots, and single-file mode" section of the README)

[2022-11-19 13:09] gour commented on #112
No, I haven't, but added it now.

What is supposed to be the content of `.marksman.toml` ?

[2022-11-19 13:17] artempyanykh commented on #112
@gour `.marksman.toml` marks the project root when your project is not under version control. It can also have project-specific configuration. You can leave it empty.

Do you get wiki links completion now that you've added the file? (server restart is required)

If you still don't get the completion you may want to try doing 'git init'. The idea is that since things work in helix but doesn't work

[2022-11-19 13:53] gour commented on #112
OK.

I can say that even **without** I get it, but both Helix & ST4 have problem if the note does not contain 1st-level `#` header. Is it expected to be so?

[2022-11-19 13:58] artempyanykh commented on #112
Yes, it's expected. Currently, the title is taken from 1st level heading.

I checked your documents: you define title inside frontmatter. I'd like to support this use-case too as it's very common in static site generators.

Let's repurpose this ticket as a feature request for taking a title from a frontmatter.

[2022-11-19 16:18] gour commented on #112
For personal projects I use Fossil, so wonder if it also qualifies as "version control" or it is Git-only?

[2022-11-19 16:21] gour commented on #112
OK, thanks.

I'd also like to be able to use Zettlr and currently have [problem](https://github.com/Zettlr/Zettlr/issues/3920) interoperating with the links created by LSP-marksman...

Great. Thanks a lot for your work on Marksman! It greatly changes the Markdown's ecosystem. :smiley:

[2022-11-20 14:25] DanRoscigno opened #113 "Question: Ignoring .gitignore when checking for files in relative links"
Thanks for Marksman, it is really helping me out!

I am working across two repos, "reference-docs" and "tutorial-docs".

The repos are combined into one directory structure when the docs get built with Docusaurus.

When I am writing in "tutorial-docs" I copy the files from "reference-docs" into tutorial-docs so that I can build the documentation as I am editing.  I have all of the tutorial directo

[2022-11-20 14:42] DanRoscigno commented on #113
Based on issue #112 I suspect that I need a `.marksman.toml`, but I do not know what to put in it.  I tried this, but did not see a difference.

[code]

[2022-11-20 16:55] artempyanykh commented on #112
Thanks for the kind words @gour! ❤️
I've retitled the issue as a feature request now.

[2022-11-20 17:11] artempyanykh commented on #113
Thanks for the kind words @DanRoscigno! Regarding ignoring the `.gitignore`, one thing that may work is to
1. create a `.ignore` file, and
2. add negated ignore patterns there.

E.g. if you have `reference-docs/` in your `.gitignore`, try creating `.ignore` with the following content (note the `!` exclamation mark):
[code]

[2022-11-20 18:01] DanRoscigno commented on #113
.gitignore works perfectly, thanks very much!

[2022-11-20 18:01] #113 closed

[2022-11-21 14:18] DanRoscigno opened #114 "Include `.mdx` files in the pick list and URL checking"
Hi Artem,
I have a mix of .md and .mdx files.  When I link to a .mdx file Marksman shows a warning for a non-existent document.  Marksman also does not include the `.mdx` files in the pick list when I start typing the path.  I could not find in your code where the list is restricted to `.md` or I would have tried to write a PR.

I added 'nathom/filetype.nvim', and set .mdx to markdown, so Marksman

[2022-11-21 15:47] artempyanykh commented on #114
@DanRoscigno I didn't know about mdx. Is it https://mdxjs.com/ or something else?

[2022-11-23 10:17] BonaBeavis commented on #111
Another way to define tags is using markdown frontmatter:
[code]

[2022-11-25 15:09] #114 closed

[2022-11-25 15:12] DanRoscigno commented on #114
Thanks so much!

[2022-11-25 20:22] artempyanykh commented on #114
@DanRoscigno please try the new release and let me know if things work for you.

[2022-11-25 20:44] #99 closed

[2022-11-25 20:45] artempyanykh commented on #99
Fix/workaround released in https://github.com/artempyanykh/marksman/releases/tag/2022-11-25

[2022-11-25 22:53] DanRoscigno commented on #114
@artempyanykh , I do not see any difference.  Do I need a `.marksman.toml` at the root of the repo I am working in?  I added one with this content, but that did not change it either:
[code]

[2022-11-27 08:27] dmytrodubinin opened #116 "Question: How to config?"
I try to use marksman in neovim but I have many problems. There are some of my questions:

1. **How to config?** I can't find any instructions and shortcuts list in github page. For example I use default settings and when I try to add links into document, links inserted incorrect:
[Screencast from 2022-11-27 10-17-16.webm](https://user-images.githubusercontent.com/8066458/204125587-7eacd309-c76b-4